# OS or Editor folders
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
.idea
*.iml
.vscode
.jshintrc

# Directories to ignore
node_modules/
tests_output/
test/reports/allure-results/*
package-lock.json

# Files and file types to ignore
*.log
